/* A simple reset. */
*,::before,::after {
    margin: 0;
    box-sizing: border-box;
}



/* Set up fonts, colors and all that jazz. */
body {
    background: #f9fdfe;
    color: #686a69;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.75;
    text-rendering: optimizeLegibility;

}


h1,h2 {
    color: #2a2f2c;
    font-family: Lato, sans-serif;
    font-weight: 300;
    line-height: 1.125;
}

.content,.results {
    width: 90vw;
    max-width: 550px;
    margin: 8vh auto;
}

.content__heading {
    font-size: 125%;
}

.content__lede {
    margin-top: 0.5rem;
    font-size: 87.5%;
}

.results__heading {
    font-size: 110%;
}

.results__display-wrapper {
    width: 450px;
    overflow-x: hidden;
}

.contact-form {
    position: relative;
    display: block;
    margin: 0;
    padding: 1rem 0 2rem;
    border-top: 1px solid #cdcfcf;
    border-bottom: 1px solid #cdcfcf;
    overflow: hidden;
}

.contact-form__input-group {
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
}

.contact-form__label {
    display: block;
    color: #414643;
    font-family: Lato, sans-serif;
    font-size: 75%;
    line-height: 1.125;
}


.contact-form__input {
    display: block;
    margin-top: 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid #cdcfcf;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    transition: 150ms border-color linear;
}


.contact-form__input:focus,.contact-form__input:active {
    border-color: #686a69;
    outline: 0;
}

.contact-form__button {
    display: block;
    margin: 2rem 1rem 0;
    padding: 0 1rem 0.2rem;
    background-color: #D98880;
    border: 0;
    color: #f9fdfe;
    font-family: lato, sans-serif;
    font-size: 100%;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;
    transition: 150ms all linear;
}

.contact-form__button:hover,.contact-form__button:active,.contact-form__button:focus {
    background: #2a2f2c;
    cursor: pointer;
    outline: 0;
}
.buton{
    text-align: center;
}