
*,
*:after,
*::before {
    box-sizing: border-box;
}

body{
    width: 100%;
}

.design{
    background-image: url("./images/bk1.jpg");
}

.svg-design{
    font-family: Arial;
}

svg text{
    stroke: #800000;
    font-size: 55px;
    font-weight: 700;
    stroke-width: 2;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0%{
        stroke-dasharray: 0 50%;

    }
    100%{
        stroke-dasharray: 50% 0;

    }
}

.card-title{
    font-size: 20px;
    color: black;
}